:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --outfit: 'Outfit';
}

body {
  font-family: var(--outfit);
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--Light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-basis: 290px;
  padding: 1rem;
  border-radius: 1.8rem;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.card__image {
  width: 290px;
  border-radius: 0.8em;
}

.card__tittle {
  font-weight: 700;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: var(--Dark-blue);
}

.card__description {
  font-weight: 400;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  color: var(--Grayish-blue);
}